body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1268px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:760px;
  background:inherit;
  background-color:rgba(196, 227, 220, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:200px;
  width:1280px;
  height:760px;
}
#u1 {
  position:absolute;
  left:2px;
  top:372px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:200px;
  background:inherit;
  background-color:rgba(110, 181, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:200px;
}
#u3 {
  position:absolute;
  left:2px;
  top:92px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u4 {
  position:absolute;
  left:252px;
  top:98px;
  width:88px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u6 {
  position:absolute;
  left:410px;
  top:98px;
  width:88px;
  height:88px;
}
#u7 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:111px;
}
#u8 {
  position:absolute;
  left:567px;
  top:87px;
  width:111px;
  height:111px;
}
#u9 {
  position:absolute;
  left:2px;
  top:48px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u10 {
  position:absolute;
  left:726px;
  top:98px;
  width:88px;
  height:88px;
}
#u11 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u12 {
  position:absolute;
  left:884px;
  top:98px;
  width:88px;
  height:88px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:960px;
  background:inherit;
  background-color:rgba(196, 227, 220, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:960px;
  width:1280px;
  height:960px;
}
#u15 {
  position:absolute;
  left:2px;
  top:472px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:986px;
  height:571px;
}
#u16 {
  position:absolute;
  left:147px;
  top:295px;
  width:986px;
  height:571px;
}
#u17 {
  position:absolute;
  left:2px;
  top:278px;
  width:982px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u19 {
  position:absolute;
  left:561px;
  top:894px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:603px;
  top:894px;
  width:20px;
  height:20px;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:645px;
  top:894px;
  width:20px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:960px;
  background:inherit;
  background-color:rgba(110, 181, 165, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:0px;
  top:960px;
  width:260px;
  height:960px;
}
#u26 {
  position:absolute;
  left:2px;
  top:472px;
  width:256px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:368px;
}
#u27 {
  position:absolute;
  left:852px;
  top:1269px;
  width:351px;
  height:368px;
}
#u28 {
  position:absolute;
  left:2px;
  top:176px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:90px;
  background:inherit;
  background-color:rgba(110, 181, 165, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:-12px;
  top:960px;
  width:272px;
  height:90px;
}
#u30 {
  position:absolute;
  left:2px;
  top:37px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:-12px;
  top:1322px;
}
#u31_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(136, 194, 181, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  font-size:36px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:2px;
  top:19px;
  width:268px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(110, 181, 165, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:-12px;
  top:1402px;
  width:272px;
  height:80px;
}
#u35_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(105, 184, 45, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35.selected {
}
#u36 {
  position:absolute;
  left:2px;
  top:32px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u37 {
  position:absolute;
  left:41px;
  top:1430px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u37_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(105, 184, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u37.selected {
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(110, 181, 165, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:-12px;
  top:1482px;
  width:272px;
  height:80px;
}
#u40_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(144, 202, 106, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:32px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u42 {
  position:absolute;
  left:41px;
  top:1501px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u42_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(144, 202, 106, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(110, 181, 165, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:-12px;
  top:1562px;
  width:272px;
  height:80px;
}
#u45_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(105, 184, 45, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45.selected {
}
#u46 {
  position:absolute;
  left:2px;
  top:32px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u47 {
  position:absolute;
  left:41px;
  top:1581px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u47_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(105, 184, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u47.selected {
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(110, 181, 165, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:-12px;
  top:1642px;
  width:272px;
  height:80px;
}
#u51 {
  position:absolute;
  left:2px;
  top:32px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:41px;
  top:1661px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:190px;
}
#u54 {
  position:absolute;
  left:-6px;
  top:1050px;
  width:271px;
  height:190px;
}
#u55 {
  position:absolute;
  left:2px;
  top:87px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u56 {
  position:absolute;
  left:41px;
  top:984px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:267px;
}
#u58 {
  position:absolute;
  left:603px;
  top:1469px;
  width:255px;
  height:267px;
}
#u59 {
  position:absolute;
  left:2px;
  top:126px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:267px;
}
#u60 {
  position:absolute;
  left:916px;
  top:1269px;
  width:255px;
  height:267px;
}
#u61 {
  position:absolute;
  left:2px;
  top:126px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:267px;
}
#u62 {
  position:absolute;
  left:559px;
  top:1552px;
  width:255px;
  height:267px;
}
#u63 {
  position:absolute;
  left:2px;
  top:126px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:368px;
}
#u64 {
  position:absolute;
  left:336px;
  top:1002px;
  width:351px;
  height:368px;
}
#u65 {
  position:absolute;
  left:2px;
  top:176px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:267px;
}
#u66 {
  position:absolute;
  left:479px;
  top:1192px;
  width:255px;
  height:267px;
}
#u67 {
  position:absolute;
  left:2px;
  top:126px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:368px;
}
#u68 {
  position:absolute;
  left:336px;
  top:1501px;
  width:351px;
  height:368px;
}
#u69 {
  position:absolute;
  left:2px;
  top:176px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:269px;
}
#u70 {
  position:absolute;
  left:0px;
  top:1050px;
  width:106px;
  height:269px;
}
#u71 {
  position:absolute;
  left:2px;
  top:126px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:269px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:269px;
}
#u73 {
  position:absolute;
  left:2px;
  top:126px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:336px;
  top:1117px;
  width:250px;
  height:250px;
}
#u77 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u78 {
  position:absolute;
  left:336px;
  top:1273px;
  width:250px;
  height:43px;
}
#u79 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:160px;
}
#u80 {
  position:absolute;
  left:410px;
  top:1093px;
  width:89px;
  height:160px;
}
#u81 {
  position:absolute;
  left:2px;
  top:72px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:814px;
  top:1117px;
  width:250px;
  height:250px;
}
#u84 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u85 {
  position:absolute;
  left:814px;
  top:1273px;
  width:250px;
  height:43px;
}
#u86 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:336px;
  top:1558px;
  width:250px;
  height:250px;
}
#u89 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u90 {
  position:absolute;
  left:336px;
  top:1714px;
  width:250px;
  height:43px;
}
#u91 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u93 {
  position:absolute;
  left:814px;
  top:1558px;
  width:250px;
  height:250px;
}
#u94 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u95 {
  position:absolute;
  left:814px;
  top:1714px;
  width:250px;
  height:43px;
}
#u96 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:280px;
}
#u97 {
  position:absolute;
  left:875px;
  top:1027px;
  width:155px;
  height:280px;
}
#u98 {
  position:absolute;
  left:2px;
  top:132px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u99 {
  position:absolute;
  left:423px;
  top:1524px;
  width:100px;
  height:181px;
}
#u100 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u101 {
  position:absolute;
  left:884px;
  top:1523px;
  width:100px;
  height:181px;
}
#u102 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:368px;
  top:1287px;
  width:43px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  position:absolute;
  left:461px;
  top:1287px;
  width:73px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u107 {
  position:absolute;
  left:969px;
  top:1287px;
  width:73px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  position:absolute;
  left:461px;
  top:1728px;
  width:73px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u111 {
  position:absolute;
  left:969px;
  top:1728px;
  width:73px;
  height:16px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u113 {
  position:absolute;
  left:368px;
  top:1728px;
  width:57px;
  height:16px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  position:absolute;
  left:852px;
  top:1728px;
  width:57px;
  height:16px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u117 {
  position:absolute;
  left:852px;
  top:1287px;
  width:43px;
  height:16px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:336px;
  top:1099px;
  width:250px;
  height:250px;
}
#u122 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u123 {
  position:absolute;
  left:336px;
  top:1255px;
  width:250px;
  height:43px;
}
#u124 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u125 {
  position:absolute;
  left:404px;
  top:1048px;
  width:100px;
  height:181px;
}
#u126 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:814px;
  top:1099px;
  width:250px;
  height:250px;
}
#u129 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u130 {
  position:absolute;
  left:814px;
  top:1255px;
  width:250px;
  height:43px;
}
#u131 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u133 {
  position:absolute;
  left:336px;
  top:1540px;
  width:250px;
  height:250px;
}
#u134 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u135 {
  position:absolute;
  left:336px;
  top:1696px;
  width:250px;
  height:43px;
}
#u136 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u138 {
  position:absolute;
  left:814px;
  top:1540px;
  width:250px;
  height:250px;
}
#u139 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u140 {
  position:absolute;
  left:814px;
  top:1696px;
  width:250px;
  height:43px;
}
#u141 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u142 {
  position:absolute;
  left:902px;
  top:1046px;
  width:100px;
  height:181px;
}
#u143 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:215px;
}
#u144 {
  position:absolute;
  left:395px;
  top:1495px;
  width:119px;
  height:215px;
}
#u145 {
  position:absolute;
  left:2px;
  top:100px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:191px;
}
#u146 {
  position:absolute;
  left:884px;
  top:1495px;
  width:106px;
  height:191px;
}
#u147 {
  position:absolute;
  left:2px;
  top:88px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u148 {
  position:absolute;
  left:461px;
  top:1268px;
  width:73px;
  height:16px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:969px;
  top:1268px;
  width:73px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u152 {
  position:absolute;
  left:461px;
  top:1709px;
  width:73px;
  height:16px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u154 {
  position:absolute;
  left:969px;
  top:1709px;
  width:73px;
  height:16px;
}
#u155 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u156 {
  position:absolute;
  left:368px;
  top:1709px;
  width:71px;
  height:16px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u158 {
  position:absolute;
  left:852px;
  top:1709px;
  width:43px;
  height:16px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u160 {
  position:absolute;
  left:852px;
  top:1268px;
  width:57px;
  height:16px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u164 {
  position:absolute;
  left:336px;
  top:1117px;
  width:250px;
  height:250px;
}
#u165 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u166 {
  position:absolute;
  left:336px;
  top:1273px;
  width:250px;
  height:43px;
}
#u167 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:237px;
}
#u168 {
  position:absolute;
  left:373px;
  top:1027px;
  width:131px;
  height:237px;
}
#u169 {
  position:absolute;
  left:2px;
  top:110px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u171 {
  position:absolute;
  left:814px;
  top:1117px;
  width:250px;
  height:250px;
}
#u172 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u173 {
  position:absolute;
  left:814px;
  top:1273px;
  width:250px;
  height:43px;
}
#u174 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  position:absolute;
  left:336px;
  top:1558px;
  width:250px;
  height:250px;
}
#u177 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u178 {
  position:absolute;
  left:336px;
  top:1714px;
  width:250px;
  height:43px;
}
#u179 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:814px;
  top:1558px;
  width:250px;
  height:250px;
}
#u182 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u183 {
  position:absolute;
  left:814px;
  top:1714px;
  width:250px;
  height:43px;
}
#u184 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:201px;
}
#u185 {
  position:absolute;
  left:888px;
  top:1051px;
  width:111px;
  height:201px;
}
#u186 {
  position:absolute;
  left:2px;
  top:92px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u187 {
  position:absolute;
  left:423px;
  top:1517px;
  width:100px;
  height:181px;
}
#u188 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:246px;
}
#u189 {
  position:absolute;
  left:888px;
  top:1480px;
  width:136px;
  height:246px;
}
#u190 {
  position:absolute;
  left:2px;
  top:115px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:368px;
  top:1290px;
  width:43px;
  height:16px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  position:absolute;
  left:461px;
  top:1290px;
  width:73px;
  height:16px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u195 {
  position:absolute;
  left:969px;
  top:1290px;
  width:73px;
  height:16px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u197 {
  position:absolute;
  left:461px;
  top:1731px;
  width:73px;
  height:16px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u199 {
  position:absolute;
  left:969px;
  top:1731px;
  width:73px;
  height:16px;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u201 {
  position:absolute;
  left:368px;
  top:1731px;
  width:57px;
  height:16px;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  position:absolute;
  left:852px;
  top:1731px;
  width:43px;
  height:16px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  position:absolute;
  left:852px;
  top:1290px;
  width:57px;
  height:16px;
}
#u206 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u207 {
  position:absolute;
  left:443px;
  top:1220px;
  width:36px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  visibility:hidden;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  position:absolute;
  left:814px;
  top:1117px;
  width:250px;
  height:250px;
}
#u214 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u215 {
  position:absolute;
  left:814px;
  top:1273px;
  width:250px;
  height:43px;
}
#u216 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u217 {
  position:absolute;
  left:884px;
  top:1062px;
  width:100px;
  height:181px;
}
#u218 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u219 {
  position:absolute;
  left:969px;
  top:1287px;
  width:73px;
  height:16px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221 {
  position:absolute;
  left:852px;
  top:1287px;
  width:57px;
  height:16px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  position:absolute;
  left:336px;
  top:1558px;
  width:250px;
  height:250px;
}
#u226 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u227 {
  position:absolute;
  left:336px;
  top:1714px;
  width:250px;
  height:43px;
}
#u228 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u229 {
  position:absolute;
  left:423px;
  top:1515px;
  width:100px;
  height:181px;
}
#u230 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:461px;
  top:1728px;
  width:73px;
  height:16px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  position:absolute;
  left:368px;
  top:1728px;
  width:57px;
  height:16px;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:336px;
  top:1117px;
  width:250px;
  height:250px;
}
#u238 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u239 {
  position:absolute;
  left:336px;
  top:1273px;
  width:250px;
  height:43px;
}
#u240 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u241 {
  position:absolute;
  left:423px;
  top:1069px;
  width:100px;
  height:181px;
}
#u242 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:368px;
  top:1287px;
  width:57px;
  height:16px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u245 {
  position:absolute;
  left:461px;
  top:1287px;
  width:73px;
  height:16px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:250px;
  background:inherit;
  background-color:rgba(120, 187, 172, 0.8);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u249 {
  position:absolute;
  left:814px;
  top:1558px;
  width:250px;
  height:250px;
}
#u250 {
  position:absolute;
  left:2px;
  top:117px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:43px;
}
#u251 {
  position:absolute;
  left:814px;
  top:1714px;
  width:250px;
  height:43px;
}
#u252 {
  position:absolute;
  left:2px;
  top:14px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:181px;
}
#u253 {
  position:absolute;
  left:884px;
  top:1523px;
  width:100px;
  height:181px;
}
#u254 {
  position:absolute;
  left:2px;
  top:82px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u255 {
  position:absolute;
  left:969px;
  top:1728px;
  width:73px;
  height:16px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  position:absolute;
  left:852px;
  top:1728px;
  width:57px;
  height:16px;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:368px;
  top:1410px;
  width:43px;
  height:16px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(110, 181, 165, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262 {
  position:absolute;
  left:-12px;
  top:1322px;
  width:272px;
  height:80px;
}
#u262_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(105, 184, 45, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u262.selected {
}
#u263 {
  position:absolute;
  left:2px;
  top:32px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u264 {
  position:absolute;
  left:41px;
  top:1350px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u264_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(105, 184, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u264.selected {
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:960px;
  background:inherit;
  background-color:rgba(196, 227, 220, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u266 {
  position:absolute;
  left:0px;
  top:1920px;
  width:1280px;
  height:960px;
}
#u267 {
  position:absolute;
  left:2px;
  top:472px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1061px;
  height:708px;
}
#u268 {
  position:absolute;
  left:59px;
  top:1998px;
  width:1061px;
  height:708px;
}
#u269 {
  position:absolute;
  left:2px;
  top:346px;
  width:1057px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:650px;
}
#u270 {
  position:absolute;
  left:264px;
  top:2027px;
  width:650px;
  height:650px;
}
#u271 {
  position:absolute;
  left:2px;
  top:317px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u272 {
  position:absolute;
  left:550px;
  top:2152px;
  width:1px;
  height:16px;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
  color:#FFFFFF;
}
#u274 {
  position:absolute;
  left:493px;
  top:2111px;
  width:193px;
  height:57px;
  font-size:48px;
  color:#FFFFFF;
}
#u275 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#FFFFFF;
}
#u276 {
  position:absolute;
  left:426px;
  top:2178px;
  width:361px;
  height:42px;
  font-size:36px;
  color:#FFFFFF;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
